<h1 class="text-center">古典音樂資料表</h1>
<br>
<table class="table table-striped">
<tr>
	<th>曲名</th>
	<th>作曲家</th>
	<th>演奏樂團/演奏家</th>
	<th>年份</th>
	<th>更多資訊</th>
	<th>編輯</th>
	<th>刪除</th>
</tr>

<% @musics.each do |music| %>
<tr>
	<td><%=music.name %></td>
	<td><%=music.compositor %></td>
	<td><%=music.symphony%></td>
	<td><%=music.publish_year %></td>
	<td><%=link_to "更多資訊" , music_path(music, :page =>params[:page]), :class => "btn btn-primary"%></td>
	<td><%=link_to "編輯" , musics_path(:id => music, :page =>params[:page]),:class =>"btn btn-default"%></td>
	<td><%=link_to "刪除" , music_path(music, :page => params[:page]), :method => :delete,:class => "btn btn-danger"%></td>
</tr>
<%end%>
</table>
<%= paginate @musics %>
<p class="text-center"><%= link_to "新增資料" , new_music_path %></p>

<%= form_for @music do |f| %>
	<%= render :partial => "form", :locals => {:f => f} %>

	<%= f.submit "Save", :class => "btn btn-primary" %>
	<%=link_to "Cancel", musics_path, :class => "btn btn-primary" %>

<% end %>